@tailwind base;
@tailwind components;
@tailwind utilities;
.app {
  height: 100vh;
}
.app-homescreen {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 100%;
  gap: 1.4rem;
}

.header-markets-wrapper {
  width: 100%;
  display: flex;
}

.active {
  color: white;
}

.fadeRightMini {
  animation: fadeRightMini 2s;
  animation-fill-mode: both;
}

@keyframes fadeRightMini {
  0% {
    opacity: 0;
    transform: translate3d(40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
